<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Signup</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>Account</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>

            </tr>
            {%for line in accounts_object%}
            <tr>
                <td>{{line.name}}</td>
                <td>{{line.number}}</td>
                <td>{{line.receipts.count}}</td>

            </tr>
            {%endfor%}
        </table>
    </main>
</body>

</html>
